@charset "UTF-8";
/*------------------------------------*/
/*                                    */
/* #БАЗА (глобальные стили и хелперы) */
/*                                    */
/*------------------------------------*/
/*                                    */
/* Подсмотрено и взято на вооружение              */
/* https://zellwk.com/blog/css-architecture-3/    */
/* Resets margins and paddings for headers, ul, ol and p */
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
p,
blockquote {
  margin: 0;
  padding: 0;
}

/* Completely resets form items */
/* ---------------------------- */
/* Super hard reset that removes all borders */
/* and radius of all form items. */
/* ============================ */
input,
textarea,
button {
  border: 0;
  border-radius: 0;
  outline: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

input:hover, input:active, input:focus,
textarea:hover,
textarea:active,
textarea:focus,
button:hover,
button:active,
button:focus {
  outline: none;
}

/* Use border-box for everything */
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

/* Set Image and Objects to have a max-width of 100% */
embed,
iframe,
img,
object,
video {
  max-width: 100%;
}

/* smooth transitions */
* {
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.m-navbar, .o-portfolio__header, .o-footer__information, .o-footer__navbar {
  text-align: justify;
  font-size: 0px;
  line-height: 0px;
}

.m-navbar::after, .o-portfolio__header::after, .o-footer__information::after, .o-footer__navbar::after {
  content: '';
  display: inline-block;
  width: 100%;
  height: 0;
  visibility: hidden;
  overflow: hidden;
}

/*------------------------------------*/
/*                                    */
/* #АТОМЫ (текст, кнопки, заголовки)  */
/*                                    */
/*------------------------------------*/
/*                                    */
.a-logo {
  width: 128px;
  height: 50px;
}

.a-btn {
  display: inline-block;
  padding: 14px;
  font: 400 16px/1 "Hammersmith One", Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  color: #00e0d0;
  border: 1px solid #00e0d0;
  border-radius: 2px;
}

.a-btn:hover, .a-btn:focus {
  color: #39335f;
  background-color: #00e0d0;
  border-color: #39335f;
}

.a-btn.--wide {
  min-width: 140px;
}

.o-masthead__topbar, .o-masthead__hero, .o-expertise__list, .o-team__list, .o-portfolio__header, .o-footer__information, .o-footer__navbar {
  /* оборачивает контент в центральную колонку */
  display: block;
  max-width: 960px;
  margin: auto;
  padding: 0 10px;
  /* чтобы вёрстка не ломалась, раз она не адаптивная */
  min-width: 960px;
}

/*------------------------------------*/
/*                                    */
/* #МОЛЕКУЛЫ (объекты, компоненты)    */
/*                                    */
/*------------------------------------*/
/*                                    */
/*------------------------------------*/
/*          ~ Навигация ~             */
/*------------------------------------*/
/*                                    */
.m-navigation {
  font-size: 0px;
  list-style-type: none;
  text-align: left;
}

.m-navigation__item {
  display: inline-block;
  text-align: center;
  vertical-align: top;
}

.m-navigation__link {
  display: inline-block;
  padding: 0 10px;
  font-family: Roboto, Verdana, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 13px;
  line-height: 50px;
  text-transform: uppercase;
  text-decoration: none;
  vertical-align: top;
  color: #ffffff;
}

.m-navigation__link.--current, .m-navigation__link:hover {
  color: #00e0d0;
}

.m-navigation__link.--wide {
  font: normal 300 14px/1 Roboto, Verdana, Arial, Helvetica, sans-serif;
  padding-right: 22px;
}

.m-navigation__item:first-child .m-navigation__link {
  padding-left: 0px;
}

.m-navigation__item:last-child .m-navigation__link {
  padding-right: 0px;
}

/*------------------------------------*/
/*        ~ Верхняя панель ~          */
/*------------------------------------*/
/*                                    */
.m-navbar {
  display: block;
}

.m-navbar__logo {
  display: inline-block;
  vertical-align: top;
}

.m-navbar__nav {
  display: inline-block;
  vertical-align: top;
}

/*------------------------------------*/
/*            ~ Слайд ~               */
/*------------------------------------*/
/*                                    */
.m-slide {
  padding: 125px 10px;
  text-align: center;
}

.m-slide__title {
  display: block;
  margin-bottom: 25px;
  font: normal 900 32px/1.2 "Playfair Display", Georgia, "Times New Roman", Times, serif;
}

.m-slide__title::after {
  content: "";
  display: block;
  width: 50px;
  margin: 0 auto;
  border-bottom: 1px solid #00e0d0;
  opacity: 1;
  margin: 20px auto 0;
}

.m-slide__descript {
  font: normal 300 14px/24px Roboto, Verdana, Arial, Helvetica, sans-serif;
  margin-bottom: 45px;
}

.m-slide__btn {
  margin: 0 auto;
}

/*------------------------------------*/
/*          ~ Slider ~                */
/*------------------------------------*/
/*                                    */
.m-slider {
  display: block;
  text-align: center;
}

.m-slider__slide {
  display: inline-block;
  max-width: 800px;
  margin: 0 auto;
  vertical-align: middle;
}

.m-slider__bullets {
  display: inline-block;
  width: 100%;
  margin: 0 auto;
  vertical-align: bottom;
}

/*------------------------------------*/
/*       ~ Контролы слайда ~          */
/*------------------------------------*/
/*                                    */
.m-bullets {
  font-size: 0;
  line-height: 0;
  list-style-type: none;
  text-align: center;
}

.m-bullets__btn {
  display: inline-block;
}

.m-bullets__link {
  display: block;
  width: 15px;
  height: 15px;
  padding: 2.5px;
}

.m-bullets__link::after {
  display: block;
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 5px;
  border: 1px solid #ffffff;
}

.m-bullets__link:hover::after, .m-bullets__link.--current::after {
  background-color: #00e0d0;
  border: 1px solid #00e0d0;
}

.m-section-header {
  text-align: center;
}

.m-section-header__title {
  margin: 0 auto 10px;
  font: normal 700 22px/1.2 "Playfair Display", Georgia, "Times New Roman", Times, serif;
  text-transform: uppercase;
  color: #413d4b;
}

.m-section-header__subtitle {
  margin: 0 auto 18px;
  font: normal 400 14px/1.2 "Playfair Display", Georgia, "Times New Roman", Times, serif;
  color: #2f2d35;
  opacity: 0.75;
}

.m-section-header::after {
  content: "";
  display: block;
  width: 50px;
  margin: 0 auto;
  border-bottom: 2px solid #413d4b;
  opacity: 0.3;
}

.m-section-header.--dark-bg .m-section-header__title,
.m-section-header.--dark-bg .m-section-header__subtitle {
  color: #ffffff;
}

.m-section-header.--dark-bg::after {
  content: "";
  display: block;
  width: 50px;
  margin: 0 auto;
  border-bottom: 2px solid #ffffff;
  opacity: 0.2;
}

/*------------------------------------*/
/*            ~ Услуга ~              */
/*------------------------------------*/
/*                                    */
.m-expertise {
  padding: 32px;
  text-align: center;
}

.m-expertise__title {
  position: relative;
  display: block;
  width: 100%;
  padding-top: 85px;
  margin-bottom: 20px;
  font-family: Roboto, Verdana, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  line-height: 1.2;
  text-transform: uppercase;
}

.m-expertise__title::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.m-expertise__title.--icon-web::before {
  width: 49px;
  height: 50px;
  background: url("https://i.lensdump.com/i/8oerxZ.png") -119px -10px;
}

.m-expertise__title.--icon-brand::before {
  width: 50px;
  height: 46px;
  background: url("https://i.lensdump.com/i/8oerxZ.png") -188px -6px;
}

.m-expertise__title.--icon-app::before {
  width: 28px;
  height: 50px;
  background: url("https://i.lensdump.com/i/8oerxZ.png") -10px -10px;
}

.m-expertise__title.--icon-seo::before {
  width: 50px;
  height: 50px;
  background: url("https://i.lensdump.com/i/8oerxZ.png") -258px -10px;
}

.m-expertise__title.--icon-game::before {
  width: 41px;
  height: 50px;
  background: url("https://i.lensdump.com/i/8oerxZ.png") -58px -10px;
}

.m-expertise__title.--icon-love::before {
  width: 50px;
  height: 46px;
  background: url("https://i.lensdump.com/i/8oerxZ.png") -328px -10px;
}

.m-expertise__descript {
  font: normal 300 14px/22px Roboto, Verdana, Arial, Helvetica, sans-serif;
}

/*------------------------------------*/
/*         ~ Список услуг ~           */
/*------------------------------------*/
/*                                    */
.m-block-list {
  list-style-type: none;
  font-size: 0;
}

.m-block-list__item {
  display: inline-block;
  width: 33.33%;
  margin: 0;
  vertical-align: top;
  border-right: 1px solid #f8fafb;
  border-right: 1px solid rgba(0, 0, 0, 0.08);
}

.m-block-list__item:nth-child(3n) {
  border-right: none;
}

.m-block-list__item:nth-child(n+4) {
  border-top: 1px solid #f8fafb;
  border-top: 1px solid rgba(0, 0, 0, 0.08);
}

/*------------------------------------*/
/*           ~ Персонаж ~             */
/*------------------------------------*/
/*                                    */
.m-team-member {
  width: 220px;
}

.m-team-member__avatar {
  display: block;
  width: 220px;
  height: 230px;
  background: #ffffff;
}

.m-team-member__bio {
  display: block;
  width: 100%;
  padding: 20px 0 22px;
  border: 1px solid #e7e7e7;
  border: 1px solid rgba(250, 250, 250, 0.5);
}

.m-team-member__name {
  display: block;
  margin: 0 auto 9px;
  font-family: Roboto, Verdana, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  line-height: 1;
  text-transform: uppercase;
}

.m-team-member__role {
  display: block;
  margin: 0 auto;
  font: normal 300 13px/1 Roboto, Verdana, Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  color: #fafafa;
  opacity: 0.7;
}

/*------------------------------------*/
/*        ~ Список карточек ~         */
/*------------------------------------*/
/*                                    */
.m-card-list {
  list-style-type: none;
  font-size: 0;
  text-align: center;
}

.m-card-list__card {
  display: inline-block;
  vertical-align: top;
  margin-right: 20px;
}

.m-card-list__card:last-child {
  margin-right: 0px;
}

/*------------------------------------*/
/*         ~ Список работ ~           */
/*------------------------------------*/
/*                                    */
.m-grid-list {
  display: block;
  width: 100%;
  font-size: 0;
  line-height: 0;
  text-align: justify;
  list-style-type: none;
  overflow: hidden;
}

.m-grid-list__item {
  display: inline-block;
  padding: 0;
  margin: 0;
  width: 16.66%;
  overflow: hidden;
}

.m-grid-list__link {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
}

.m-grid-list__link::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background-color: #00e0d0;
  opacity: 0;
  z-index: 2;
}

.m-grid-list__link:hover::before {
  opacity: 0.7;
}

.m-grid-list__thumb {
  position: relative;
  width: 100%;
  height: 200px;
}

/*------------------------------------*/
/*            ~ About ~               */
/*------------------------------------*/
/*                                    */
.m-info-block {
  display: block;
  width: 300px;
}

.m-info-block.--contacts {
  width: 310px;
  padding-right: 20px;
}

.m-info-block.--subscribe {
  width: 290px;
}

.m-info-block__logo {
  display: block;
  margin-bottom: 20px;
}

.m-info-block__title {
  margin: 0 auto 20px;
  font-family: Roboto, Verdana, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 15px;
  line-height: 50px;
  text-transform: uppercase;
}

.m-info-block__descript {
  font: normal 300 14px/26px Roboto, Verdana, Arial, Helvetica, sans-serif;
}

.m-info-block__descript.--icon-location, .m-info-block__descript.--icon-phone {
  position: relative;
  margin-bottom: 12px;
  padding-left: 30px;
}

.m-info-block__descript.--icon-location::before, .m-info-block__descript.--icon-phone::before {
  display: block;
  content: "";
  position: absolute;
  top: 3px;
  left: 0;
}

.m-info-block__descript.--icon-location::before {
  width: 14px;
  height: 19px;
  background: url("https://i.lensdump.com/i/8ofDxk.png") no-repeat -10px -10px;
}

.m-info-block__descript.--icon-phone::before {
  width: 17px;
  height: 17px;
  background: url("https://i.lensdump.com/i/8ofDxk.png") no-repeat -10px -39px;
}

.m-info-block__form {
  margin-bottom: 27px;
}

/*------------------------------------*/
/*       ~ Форма подписки ~           */
/*------------------------------------*/
/*                                    */
.m-form {
  font-size: 0;
}

.m-form__input {
  position: relative;
  display: inline-block;
  width: 210px;
  height: 45px;
  margin: 0;
  padding: 0;
  padding-left: 15px;
  margin-right: 10px;
  font: normal 300 14px/1 Roboto, Verdana, Arial, Helvetica, sans-serif;
  vertical-align: top;
  color: #ffffff;
  border: 1px solid #808080;
  border: 1px solid rgba(255, 255, 255, 0.5);
  background: transparent;
}

.m-form__input ::-webkit-input-placeholder {
  color: #ffffff;
  opacity: 1;
}

.m-form__input :-ms-input-placeholder {
  color: #ffffff;
  opacity: 1;
}

.m-form__input ::-ms-input-placeholder {
  color: #ffffff;
  opacity: 1;
}

.m-form__input ::placeholder {
  color: #ffffff;
  opacity: 1;
}

.m-form__btn {
  position: relative;
  display: inline-block;
  width: 70px;
  height: 45px;
  padding: 0;
  vertical-align: top;
  background: #808080;
  background: rgba(255, 255, 255, 0.5);
  border: none;
}

.m-form__btn::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: block;
  width: 25px;
  height: 25px;
  background: url("https://i.lensdump.com/i/8ofDxk.png") no-repeat -157px -10px;
}

.m-form__btn:hover {
  background: #00e0d0;
}

.m-form__btn:hover::before {
  background: url("https://i.lensdump.com/i/8ofDxk.png") no-repeat -192px -10px;
}

/*------------------------------------*/
/*            ~ Соцсети ~             */
/*------------------------------------*/
/*                                    */
.m-social {
  display: block;
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-size: 0;
}

.m-social__btn {
  position: relative;
  display: inline-block;
  width: 35px;
  height: 35px;
  padding: 0;
  margin: 0;
  margin-right: 10px;
  border-radius: 17px;
}

.m-social__btn:last-child {
  margin-right: 0;
}

.m-social__link {
  display: block;
  width: 100%;
  height: 100%;
  border: 1px solid #ffffff;
  border-radius: 17px;
}

.m-social__link:hover {
  background-color: #00e0d0;
  border: 1px solid #00e0d0;
}

.m-social__link::after {
  display: block;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 10;
}

.m-social__link.--fb::after {
  width: 8px;
  height: 16px;
  background: url("https://i.lensdump.com/i/8ofDxk.png") no-repeat -52px -10px;
}

.m-social__link.--tw::after {
  width: 15px;
  height: 12px;
  background: url("https://i.lensdump.com/i/8ofDxk.png") no-repeat -109px -9px;
}

.m-social__link.--dr::after {
  width: 17px;
  height: 16px;
  background: url("https://i.lensdump.com/i/8ofDxk.png") no-repeat -29px -10px;
}

.m-social__link.--ig::after {
  width: 16px;
  height: 15px;
  background: url("https://i.lensdump.com/i/8ofDxk.png") no-repeat -89px -10px;
}

.m-social__link.--gp::after {
  width: 16px;
  height: 15px;
  background: url("https://i.lensdump.com/i/8ofDxk.png") no-repeat -69px -9px;
}

.m-social__link.--yt::after {
  width: 18px;
  height: 15px;
  background: url("https://i.lensdump.com/i/8ofDxk.png") no-repeat -129px -7px;
}

/*------------------------------------*/
/*                                    */
/* #ОРГАНИЗМЫ (разделы и блоки сайта) */
/*                                    */
/*------------------------------------*/
/*                                    */
/*------------------------------------*/
/*         ~ Шапка сайта ~            */
/*------------------------------------*/
/*                                    */
.o-masthead {
  color: #ffffff;
  background: #39335f url("https://i.lensdump.com/i/8oesF7.jpg") no-repeat center;
  background-size: cover;
}

/*------------------------------------*/
/*            ~ Услуги ~              */
/*------------------------------------*/
/*                                    */
.o-expertise__header {
  display: block;
  margin-bottom: 48px;
}

/*------------------------------------*/
/*            ~ Команда ~             */
/*------------------------------------*/
/*                                    */
.o-team {
  color: #ffffff;
  background: #39335f url("https://i.lensdump.com/i/8oe4Ir.jpg") no-repeat center;
  background-size: cover;
  text-align: center;
}

.o-team__header {
  display: block;
  margin-bottom: 47px;
}

.o-team__list {
  margin-bottom: 70px;
}

.o-team__descript {
  font: normal 300 14px/1 Roboto, Verdana, Arial, Helvetica, sans-serif;
  margin-bottom: 27px;
}

.o-team__btn {
  margin: 0 auto;
}

/*------------------------------------*/
/*           ~ Портфолио ~            */
/*------------------------------------*/
/*                                    */
.o-portfolio {
  text-align: center;
}

.o-portfolio__header {
  /*верхний отступ от section, а нижний установлен здесь */
  margin-bottom: 70px;
}

.o-portfolio__title {
  display: inline-block;
  margin: 0 auto;
  font: normal 700 22px/1.2 "Playfair Display", Georgia, "Times New Roman", Times, serif;
  text-transform: uppercase;
  vertical-align: top;
}

.o-portfolio__link {
  display: inline-block;
  position: relative;
  margin: 0 auto;
  padding-right: 18px;
  font: normal 300 14px/26px Roboto, Verdana, Arial, Helvetica, sans-serif;
  text-decoration: none;
  vertical-align: top;
}

.o-portfolio__link:hover {
  text-decoration: underline;
}

.o-portfolio__link::after {
  /* стрелочка */
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: block;
  width: 9px;
  height: 13px;
  content: "";
  background: url("https://i.lensdump.com/i/8ofDxk.png") no-repeat -183px -39px;
}

.o-portfolio__btn {
  margin: 70px auto 0;
}

/*------------------------------------*/
/*            ~ Footer ~              */
/*------------------------------------*/
/*                                    */
.o-footer {
  color: #ffffff;
  background: #39335f url("https://i.lensdump.com/i/8oempb.jpg") no-repeat center;
  background-size: cover;
}

.o-footer__information {
  margin-bottom: 70px;
}

.o-footer__section {
  display: inline-block;
  margin-right: 20px;
  vertical-align: top;
}

.o-footer__section:last-child {
  margin-right: 0;
}

.o-footer__navigation {
  display: inline-block;
  vertical-align: top;
}

.o-footer__copyright {
  display: inline-block;
  vertical-align: top;
  font: normal 300 14px/1 Roboto, Verdana, Arial, Helvetica, sans-serif;
}

.o-masthead, .o-expertise, .o-team, .o-portfolio, .o-footer {
  /* «уши» блоков вертикальной сетки, вертикальные поля*/
  display: block;
  width: 100%;
  padding: 70px 0;
}

.o-masthead {
  padding-top: 15px;
}
/*# sourceMappingURL=style.css.map */