@charset "UTF-8";
/*------------------------------------*/
/*  #GLOBAL                           */
/*------------------------------------*/
html,
body {
  padding: 0;
  margin: 0;
  font-size: 100%;
}

* {
  box-sizing: border-box;
}

.site-section {
  /* «уши» блоков вертикальной сетки, 
  вертикальные поля и базовый текст*/
  display: block;
  width: 100%;
  padding: 70px 0;
  color: #333333;
}

.site-section.--background {
  /* тёмный фон */
  color: #ffffff;
}

.btn {
  display: inline-block;
  padding: 14px;
  font: 400 16px/1 "Hammersmith One", Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  color: #00e0d0;
  text-decoration: none;
  border: 1px solid #00e0d0;
  border-radius: 2px;
}

.btn:hover {
  color: #332855;
  background-color: #00e0d0;
  border-color: #332855;
}

/*------------------------------------*/
/*  #HEADER                           */
/*------------------------------------*/
.main-header {
  background: #332855 url("https://i.lensdump.com/i/8oesF7.jpg") no-repeat center;
  background-size: cover;
  padding-top: 15px;
}

.slider {
  display: block;
  text-align: center;
}

.slider__controls {
  display: inline-block;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  font-size: 0;
  line-height: 0;
  list-style-type: none;
  text-align: center;
  vertical-align: bottom;
}

.slider__ctrl-btn {
  display: inline-block;
  margin-right: 5px;
}

.slider__ctrl-btn:last-child {
  margin-right: 0;
}

.slider__ctrl-btn a {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  padding: 0px;
  border: 1px solid #ffffff;
}

.slider__ctrl-btn a:hover {
  background-color: #00e0d0;
  border-width: 0;
}

.slider__ctrl-btn.--current {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  padding: 0px;
  background-color: #00e0d0;
}

.slide {
  display: inline-block;
  max-width: 800px;
  margin: 0 auto 35px;
  padding: 125px 10px;
  vertical-align: middle;
  text-align: center;
}

.slide__title {
  display: block;
  margin-bottom: 25px;
  font: normal 900 32px/1.2 "Playfair Display", Georgia, 'Times New Roman', Times, serif;
}

.slide__title::after {
  content: "";
  display: block;
  width: 50px;
  border-bottom: 1px solid #00e0d0;
  margin: 20px auto 0;
}

.slide__descript {
  font: normal 300 14px/24px Roboto, Verdana, Arial, Helvetica, sans-serif;
  margin-bottom: 45px;
}

.slide__btn {
  margin: 0 auto;
}

/*------------------------------------*/
/*  #EXPERTISE                        */
/*------------------------------------*/
.expertise {
  display: inline-block;
  width: 33.33%;
  margin: 0;
  padding: 32px;
  vertical-align: top;
  text-align: center;
  border-right: 1px solid rgba(0, 0, 0, 0.08);
}

.expertise-header {
  display: block;
  text-align: center;
  margin-bottom: 50px;
}

.expertise-header__title {
  margin: 0 auto 10px;
  font: normal 700 22px/1.2 "Playfair Display", Georgia, 'Times New Roman', Times, serif;
  text-transform: uppercase;
  color: #413d4b;
}

.expertise-header__subtitle {
  margin: 0 auto 18px;
  font: normal 400 14px/1.2 "Playfair Display", Georgia, 'Times New Roman', Times, serif;
  color: #2f2d35;
  opacity: 0.75;
}

.expertise-header::after {
  content: "";
  display: block;
  width: 50px;
  border-bottom: 2px solid #413d4b;
  margin: 0 auto;
  opacity: 0.3;
}

.expertise-list {
  list-style-type: none;
  font-size: 0;
}

.expertise:nth-child(3n) {
  border-right: none;
}

.expertise:nth-child(n+4) {
  border-top: 1px solid rgba(0, 0, 0, 0.08);
}

.expertise__title {
  position: relative;
  display: block;
  width: 100%;
  padding-top: 85px;
  font-family: Roboto, Verdana, Arial, Helvetica, sans-serif;
  font-weight: 900;
  font-size: 14px;
  line-height: 1.2;
  text-transform: uppercase;
}

.expertise__title::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.expertise__title.--icon-web::before {
  width: 49px;
  height: 50px;
  background: url("https://i.lensdump.com/i/8oerxZ.png") -119px -10px;
}

.expertise__title.--icon-brand::before {
  width: 50px;
  height: 46px;
  background: url("https://i.lensdump.com/i/8oerxZ.png") -188px -6px;
}

.expertise__title.--icon-app::before {
  width: 28px;
  height: 50px;
  background: url("https://i.lensdump.com/i/8oerxZ.png") -10px -10px;
}

.expertise__title.--icon-seo::before {
  width: 50px;
  height: 50px;
  background: url("https://i.lensdump.com/i/8oerxZ.png") -258px -10px;
}

.expertise__title.--icon-game::before {
  width: 41px;
  height: 50px;
  background: url("https://i.lensdump.com/i/8oerxZ.png") -58px -10px;
}

.expertise__title.--icon-love::before {
  width: 50px;
  height: 46px;
  background: url("https://i.lensdump.com/i/8oerxZ.png") -328px -10px;
}

.expertise__descript {
  font: normal 300 14px/22px Roboto, Verdana, Arial, Helvetica, sans-serif;
}

/*------------------------------------*/
/*  #TEAM                             */
/*------------------------------------*/
.team {
  list-style-type: none;
  font-size: 0;
  text-align: center;
}

.team-block {
  background: #332855 url("https://i.lensdump.com/i/8oe4Ir.jpg") no-repeat center;
  background-size: cover;
  text-align: center;
}

.team-header {
  display: block;
  text-align: center;
  margin-bottom: 47px;
}

.team-header__title {
  margin: 0 auto 10px;
  font: normal 700 22px/1.2 "Playfair Display", Georgia, 'Times New Roman', Times, serif;
  text-transform: uppercase;
}

.team-header__subtitle {
  margin: 0 auto 18px;
  font: normal 400 14px/1.2 "Playfair Display", Georgia, 'Times New Roman', Times, serif;
}

.team-header::after {
  content: "";
  display: block;
  width: 50px;
  border-bottom: 2px solid #ffffff;
  margin: 0 auto;
}

.team-member {
  display: inline-block;
  width: 220px;
  margin-right: 20px;
  margin-bottom: 70px;
  vertical-align: top;
}

.team-member:last-child {
  margin-right: 0px;
}

.team-member img {
  display: block;
  width: 220px;
  height: 230px;
  background: white;
}

.team-member__bio {
  display: block;
  width: 100%;
  padding: 20px 0 22px;
  border: 1px solid #e7e7e7;
  border: 1px solid rgba(231, 231, 231, 0.5);
}

.team-member__name {
  display: block;
  margin: 0 auto 9px;
  font-family: Roboto, Verdana, Arial, Helvetica, sans-serif;
  font-weight: 900;
  font-size: 14px;
  line-height: 1;
  text-transform: uppercase;
}

.team-member__role {
  display: block;
  margin: 0 auto;
  font: normal 300 13px/1 Roboto, Verdana, Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  opacity: 0.7;
}

.team__descript {
  font: normal 300 14px/1 Roboto, Verdana, Arial, Helvetica, sans-serif;
  margin-bottom: 27px;
}

.team__btn {
  min-width: 140px;
  margin: 0 auto;
}

/*------------------------------------*/
/*  #PORTFOLIO                        */
/*------------------------------------*/
.portfolio {
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  font-size: 0;
  line-height: 0;
  text-align: justify;
  list-style-type: none;
  overflow: hidden;
}

.portfolio-block {
  text-align: center;
}

.portfolio-block__header {
  /*верхний отступ от section, а нижний установлен здесь */
  margin-bottom: 70px;
  text-align: justify;
}

.portfolio-block__title {
  float: left;
  margin: 0 auto;
  font: normal 700 22px/1.2 "Playfair Display", Georgia, 'Times New Roman', Times, serif;
  text-transform: uppercase;
}

.portfolio-block__link {
  float: right;
  position: relative;
  margin: 0 auto;
  padding-right: 18px;
  font: normal 300 14px/26px Roboto, Verdana, Arial, Helvetica, sans-serif;
  text-decoration: none;
}

.portfolio-block__link:hover {
  text-decoration: underline;
}

.portfolio-block__link::after {
  /* стрелочка */
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  display: block;
  width: 9px;
  height: 13px;
  content: "";
  background: url("https://i.lensdump.com/i/8ofDxk.png") no-repeat -183px -39px;
}

.portfolio__item {
  display: inline-block;
  padding: 0;
  margin: 0;
  width: 16.66%;
  overflow: hidden;
}

.portfolio__link {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
}

.portfolio__link::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background-color: #00e0d0;
  opacity: 0;
  z-index: 2;
}

.portfolio__link:hover::before {
  opacity: 0.7;
}

.portfolio__thumb {
  position: relative;
  width: 100%;
  height: 200px;
}

.portfolio__btn {
  min-width: 140px;
  margin: 70px auto 0;
}

/*------------------------------------*/
/*  #FOOTER                           */
/*------------------------------------*/
.footer {
  background: #332855 url("https://i.lensdump.com/i/8oempb.jpg") no-repeat center;
  background-size: cover;
}

.footer-information {
  margin-bottom: 70px;
}

.footer-about {
  float: left;
  display: block;
  width: 300px;
  margin-right: 20px;
}

.footer-about__logo {
  display: block;
  margin-bottom: 20px;
}

.footer-about__descript {
  font: normal 300 14px/26px Roboto, Verdana, Arial, Helvetica, sans-serif;
}

.footer-contacts {
  float: left;
  display: block;
  width: 310px;
  margin-right: 20px;
  padding-right: 20px;
  font-style: normal;
}

.footer-contacts__title {
  margin: 0 auto 20px;
  font-family: Roboto, Verdana, Arial, Helvetica, sans-serif;
  font-weight: 900;
  font-size: 15px;
  line-height: 50px;
  text-transform: uppercase;
}

.footer-contacts__descript {
  position: relative;
  margin-bottom: 12px;
  padding-left: 30px;
  font: normal 300 14px/26px Roboto, Verdana, Arial, Helvetica, sans-serif;
}

.footer-contacts__descript::before {
  display: block;
  content: "";
  position: absolute;
  top: 3px;
  left: 0;
}

.footer-contacts__descript.--icon-location::before {
  width: 14px;
  height: 19px;
  background: url("https://i.lensdump.com/i/8ofDxk.png") no-repeat -10px -10px;
}

.footer-contacts__descript.--icon-phone::before {
  width: 17px;
  height: 17px;
  background: url("https://i.lensdump.com/i/8ofDxk.png") no-repeat -10px -39px;
}

.footer-subscribe {
  float: right;
  display: block;
  width: 290px;
}

.footer-subscribe__title {
  margin: 0 auto 20px;
  font-family: Roboto, Verdana, Arial, Helvetica, sans-serif;
  font-weight: 900;
  font-size: 15px;
  line-height: 50px;
  text-transform: uppercase;
}

.footer-form {
  font-size: 0;
  margin-bottom: 27px;
}

.footer-form__input {
  display: inline-block;
  width: 210px;
  height: 45px;
  margin: 0;
  padding-left: 15px;
  margin-right: 10px;
  font: normal 300 14px/1 Roboto, Verdana, Arial, Helvetica, sans-serif;
  vertical-align: middle;
  color: #ffffff;
  border: 1px solid #808080;
  border: 1px solid rgba(255, 255, 255, 0.5);
  background: transparent;
}

.footer-form__btn {
  position: relative;
  display: inline-block;
  width: 70px;
  height: 45px;
  vertical-align: middle;
  background: #808080;
  background: rgba(255, 255, 255, 0.5);
  border: none;
}

.footer-form__btn::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  width: 25px;
  height: 25px;
  background: url("https://i.lensdump.com/i/8ofDxk.png") no-repeat -157px -10px;
}

.footer-form__btn:hover {
  background: #00e0d0;
}

.footer-form__btn:hover::before {
  background: url("https://i.lensdump.com/i/8ofDxk.png") no-repeat -192px -10px;
}

.footer-social {
  display: block;
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-size: 0;
}

.footer-social__btn {
  position: relative;
  display: inline-block;
  width: 35px;
  height: 35px;
  padding: 0;
  margin: 0;
  margin-right: 10px;
  border: 1px solid #ffffff;
  border-radius: 17px;
}

.footer-social__btn:last-child {
  margin-right: 0;
}

.footer-social__btn a {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 17px;
}

.footer-social__btn a:hover {
  background-color: #00e0d0;
}

.footer-social__btn a::after {
  display: block;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}

.footer-social__btn.--fb a::after {
  width: 8px;
  height: 16px;
  background: url("https://i.lensdump.com/i/8ofDxk.png") no-repeat -52px -10px;
}

.footer-social__btn.--tw a::after {
  width: 15px;
  height: 12px;
  background: url("https://i.lensdump.com/i/8ofDxk.png") no-repeat -109px -9px;
}

.footer-social__btn.--dr a::after {
  width: 17px;
  height: 16px;
  background: url("https://i.lensdump.com/i/8ofDxk.png") no-repeat -29px -10px;
}

.footer-social__btn.--ig a::after {
  width: 16px;
  height: 15px;
  background: url("https://i.lensdump.com/i/8ofDxk.png") no-repeat -89px -10px;
}

.footer-social__btn.--gp a::after {
  width: 16px;
  height: 15px;
  background: url("https://i.lensdump.com/i/8ofDxk.png") no-repeat -69px -9px;
}

.footer-social__btn.--yt a::after {
  width: 18px;
  height: 15px;
  background: url("https://i.lensdump.com/i/8ofDxk.png") no-repeat -129px -7px;
}

.footer-navigation {
  display: inline-block;
  padding: 0;
  font-size: 0px;
  list-style: none;
  text-align: left;
  vertical-align: top;
}

.footer-navigation__item {
  display: inline-block;
  vertical-align: top;
}

.footer-navigation__item a {
  display: inline-block;
  padding: 0 10px;
  font-family: Roboto, Verdana, Arial, Helvetica, sans-serif;
  font-weight: 900;
  font-size: 14px;
  line-height: 1;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
}

.footer-navigation__item a:hover {
  color: #00e0d0;
  text-decoration: underline;
}

.footer-navigation__item:first-child a {
  padding-left: 0px;
}

.footer-navigation__item:last-child a {
  padding-right: 0px;
}

.footer-copyright {
  float: right;
  font: normal 300 14px/1 Roboto, Verdana, Arial, Helvetica, sans-serif;
}

/*------------------------------------*/
/*  ~ Рефакторинг ~                   */
/*------------------------------------*/
/*====================================*/
/* Новые стили появятся здесь         */
/*------------------------------------*/
/*                                    */
/* #БАЗА (глобальные стили и хелперы) */
/*                                    */
/*------------------------------------*/
/*                                    */
/* Подсмотрено и взято на вооружение              */
/* https://zellwk.com/blog/css-architecture-3/    */
/* Resets margins and paddings for headers, ul, ol and p */
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
p,
blockquote {
  margin: 0;
  padding: 0;
}

/* Completely resets form items */
/* ---------------------------- */
/* Super hard reset that removes all borders */
/* and radius of all form items. */
/* ============================ */
input,
textarea,
button {
  border: 0;
  border-radius: 0;
  outline: none;
  appearance: none;
}

input:hover, input:active, input:focus,
textarea:hover,
textarea:active,
textarea:focus,
button:hover,
button:active,
button:focus {
  outline: none;
}

/* Use border-box for everything */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* Set Image and Objects to have a max-width of 100% */
embed,
iframe,
img,
object,
video {
  max-width: 100%;
}

/* smooth transitions */
* {
  transition: all 0.3s;
}

.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

.wrapper {
  /* оборачивает контент в единую колонку */
  display: block;
  max-width: 960px;
  margin: auto;
  padding: 0 10px;
}

/*------------------------------------*/
/*                                    */
/* #АТОМЫ (текст, кнопки, заголовки)  */
/*                                    */
/*------------------------------------*/
/*                                    */
.a-logo {
  width: 128px;
  height: 50px;
}

.a-btn {
  display: inline-block;
  padding: 14px;
  font: 400 16px/1 "Hammersmith One", Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  color: #00e0d0;
  border: 1px solid #00e0d0;
  border-radius: 2px;
}

.a-btn:hover, .a-btn:focus {
  color: #39335f;
  background-color: #00e0d0;
  border-color: #39335f;
}

.a-btn.--wide {
  min-width: 140px;
}

/*------------------------------------*/
/*                                    */
/* #МОЛЕКУЛЫ (объекты, компоненты)    */
/*                                    */
/*------------------------------------*/
/*                                    */
/*------------------------------------*/
/*          ~ Навигация ~             */
/*------------------------------------*/
/*                                    */
.m-navigation {
  font-size: 0px;
  list-style-type: none;
  text-align: left;
}

.m-navigation__item {
  display: inline-block;
  text-align: center;
  vertical-align: top;
}

.m-navigation__link {
  display: inline-block;
  padding: 0 10px;
  font-family: Roboto, Verdana, Arial, Helvetica, sans-serif;
  font-weight: 900;
  font-size: 13px;
  line-height: 50px;
  text-transform: uppercase;
  text-decoration: none;
  vertical-align: top;
  color: #ffffff;
}

.m-navigation__link.--current, .m-navigation__link:hover {
  color: #00e0d0;
}

.m-navigation__item:first-child .m-navigation__link {
  padding-left: 0px;
}

.m-navigation__item:last-child .m-navigation__link {
  padding-right: 0px;
}

/*------------------------------------*/
/*                                    */
/* #ОРГАНИЗМЫ (разделы и блоки сайта) */
/*                                    */
/*------------------------------------*/
/*                                    */
/*------------------------------------*/
/*        ~ Верхняя панель ~          */
/*------------------------------------*/
/*                                    */
.o-navbar {
  display: block;
  text-align: right;
}

.o-navbar__logo {
  float: left;
  display: block;
}

.o-navbar__nav {
  display: inline-block;
  vertical-align: top;
}
/*# sourceMappingURL=style.css.map */