/*------------------------------------*/
/*  #GLOBAL                           */
/*------------------------------------*/

html,
body {
  padding: 0;
  font-size: 100%;
}

* {
  box-sizing: border-box;
}

.site-section {
  /* «уши» блоков вертикальной сетки, 
  вертикальные поля и базовый текст*/
  display: block;
  width: 100%;
  padding: 70px 0;

  font: normal 300 14px/26px Roboto, Verdana, Arial, Helvetica, sans-serif;
  color: #333333;

  &--background {
    /* тёмный фон */
    color: #ffffff;
  }
}

/* базовые стили заголовков, на случай если забуду
или на случай если я пропущу класс */

h1 {
  font: normal 900 32px/1.2 "Playfair Display", Georgia, 'Times New Roman', Times, serif;
}

h2 {
  font: normal 700 22px/1.2 "Playfair Display", Georgia, 'Times New Roman', Times, serif;
}

h3 {
  /*в макете у заголовков экспертизы и футера разный font-size,
  но в целом это один и тот же уровень (h3) и стиль*/
  font-family: Roboto, Verdana, Arial, Helvetica, sans-serif;
  font-weight: 900;
  text-transform: uppercase;
}


.wrapper {
  /* оборачивает контент в единую колонку */
  display: block;
  max-width: 960px;
  margin: auto;
  padding: 0 10px;
}





/*------------------------------------*/
/*  #HEADER                           */
/*------------------------------------*/

