/*------------------------------------*/
/*  #GLOBAL                           */
/*------------------------------------*/

html,
body {
  padding: 0;
  margin: 0;
  font-size: 100%;
}

* {
  box-sizing: border-box;
}

// добавить в html разметочных div'ов?
// стилизовать через разметочные классы

.site-section {
  /* «уши» блоков вертикальной сетки, 
  вертикальные поля и базовый текст*/
  display: block;
  width: 100%;
  padding: 70px 0;

  color: #333333;

  &.--background {
    /* тёмный фон */
    color: #ffffff;
  }
  
}



.btn {
  display: inline-block;
  padding: 14px;

  font: 400 16px/1 "Hammersmith One", Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  color: #00e0d0;
  text-decoration: none;

  border: 1px solid #00e0d0;
  border-radius: 2px;

  &:hover {
    color: #332855;
    background-color: #00e0d0;
    border-color: #332855;
  }
}





//------------------------------------
//  #TYPOGRAPHY                           
//------------------------------------

@mixin p-font($font-size, $line-height) {
  font: normal 300 #{$font-size}/#{$line-height} Roboto, Verdana, Arial, Helvetica, sans-serif;
}

@mixin h1-font {
  font: normal 900 32px/1.2 "Playfair Display", Georgia, 'Times New Roman', Times, serif;
}

@mixin h2-font {
  font: normal 700 22px/1.2 "Playfair Display", Georgia, 'Times New Roman', Times, serif;
  text-transform: uppercase;
}

@mixin h3-font($fontsize, $lineheight) {
  // в макете у заголовков экспертизы и футера разный font-size,
  // но в целом это один и тот же уровень (h3) и стиль
  font-family: Roboto, Verdana, Arial, Helvetica, sans-serif;
  font-weight: 900;
  font-size: $fontsize;
  line-height: $lineheight;
  text-transform: uppercase;
}

@mixin subheader {
  font: normal 400 14px/1.2 "Playfair Display", Georgia, 'Times New Roman', Times, serif;
}

@mixin header-line($height, $color) {
  content: "";
  display: block;
  width: 50px;
  border-bottom: $height solid $color;
}




//------------------------------------
//  #NAVIGATION                       
//------------------------------------

@mixin navigation {
  display: inline-block;
  padding: 0;
  font-size: 0px;
  list-style: none;
  text-align: left;
  vertical-align: top;
}

@mixin navigation__item {
  display: inline-block;
  vertical-align: top;
}

@mixin nav-box {
  display: inline-block;
  padding: 0 10px;
}





/*------------------------------------*/
/*  #HEADER                           */
/*------------------------------------*/

.main {

  &-header {
    background: #332855 url("https://i.lensdump.com/i/8oesF7.jpg") no-repeat center;
    background-size: cover;
    padding-top: 15px;
  }
}



.slider {
  display: block;
  text-align: center;

  &__controls {
    display: inline-block;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    font-size: 0;
    line-height: 0;
    list-style-type: none;
    text-align: center;
    vertical-align: bottom;
  }

  @mixin ctrl-btn {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    padding: 0px;
  }

  &__ctrl-btn {
    display: inline-block;
    margin-right: 5px;

    &:last-child {
      margin-right: 0; 
    }
    
    & a{
      @include ctrl-btn;
      border: 1px solid #ffffff;

      &:hover {
        background-color: #00e0d0;
        border-width: 0;
      }
    }

    &.--current {
      @include ctrl-btn;
      background-color: #00e0d0;
    }
  }
}

.slide {
  display: inline-block;
  max-width: 800px;
  margin: 0 auto 35px;
  padding: 125px 10px;

  vertical-align: middle;
  text-align: center;

  &__title {
    display: block;
    margin-bottom: 25px;
    @include h1-font;

    &::after {
      @include header-line(1px, #00e0d0);
      margin: 20px auto 0;
    }
  }

  &__descript {
    @include p-font(14px, 24px);
    margin-bottom: 45px;
  }

  &__btn {
    margin: 0 auto;
  }

}





/*------------------------------------*/
/*  #EXPERTISE                        */
/*------------------------------------*/

.expertise {

  &-header {
    display: block;
    text-align: center;
    margin-bottom: 50px;

    &__title {
      margin: 0 auto 10px;

      @include h2-font;
      color: #413d4b;
    }

    &__subtitle {
      margin: 0 auto 18px;

      @include subheader;
      color: #2f2d35;
      opacity: 0.75;
    }

    &::after {
      @include header-line(2px, #413d4b);
      margin: 0 auto;
      opacity: 0.3;
    }
  }



  &-list {
    list-style-type: none;
    font-size: 0;
  }


  display: inline-block;
  width: 33.33%;
  margin: 0;
  padding: 32px;
  vertical-align: top;
  text-align: center;

  border-right: 1px solid rgba(0, 0, 0, 0.08);


  &:nth-child(3n) {
    border-right: none;
  }

  &:nth-child(n+4) {
    border-top: 1px solid rgba(0, 0, 0, 0.08);
  }

  &__title {
    position: relative;
    display: block;
    width: 100%;
    padding-top: 85px;
    @include h3-font(14px, 1.2);
  
    &::before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
    }

    &.--icon-web::before    { width: 49px; height: 50px; background: url('https://i.lensdump.com/i/8oerxZ.png') -119px -10px; }

    &.--icon-brand::before  { width: 50px; height: 46px; background: url('https://i.lensdump.com/i/8oerxZ.png') -188px -6px; }

    &.--icon-app::before    { width: 28px; height: 50px; background: url('https://i.lensdump.com/i/8oerxZ.png') -10px -10px; }

    &.--icon-seo::before    { width: 50px; height: 50px; background: url('https://i.lensdump.com/i/8oerxZ.png') -258px -10px; }

    &.--icon-game::before   { width: 41px; height: 50px; background: url('https://i.lensdump.com/i/8oerxZ.png') -58px -10px; }

    &.--icon-love::before   { width: 50px; height: 46px; background: url('https://i.lensdump.com/i/8oerxZ.png') -328px -10px; } 
  }


  &__descript {
    @include p-font(14px, 22px);
  }
}





/*------------------------------------*/
/*  #TEAM                             */
/*------------------------------------*/

.team {
  &-block {
    background: #332855 url("https://i.lensdump.com/i/8oe4Ir.jpg") no-repeat center;
    background-size: cover;
    text-align: center;
  }


  &-header {
    display: block;
    text-align: center;
    margin-bottom: 47px;

    &__title {
      margin: 0 auto 10px;

      @include h2-font;
    }

    &__subtitle {
      margin: 0 auto 18px;

      @include subheader;
    }

    &::after {
      @include header-line(2px, #ffffff);
      margin: 0 auto;
    }
  }


  list-style-type: none;
  font-size: 0;
  text-align: center;


  &-member {
    display: inline-block;
    width: 220px;
    margin-right: 20px;
    margin-bottom: 70px;
    vertical-align: top;
    
    &:last-child {
      margin-right: 0px;
    }

    & img {
      display: block;
      width: 220px;
      height: 230px;
      background: white;
    }

    &__bio {
      display: block;
      width: 100%;
      padding: 20px 0 22px;
      border: 1px solid #e7e7e7;
      border: 1px solid rgba(231, 231, 231, 0.5);
    }

    &__name {
      display: block;
      margin: 0 auto 9px;
      @include h3-font (14px, 1);
    }

    &__role {
      display: block;
      margin: 0 auto;
      @include p-font(13px, 1);
      text-transform: uppercase;
      opacity: 0.7;
    }
  }



  &__descript {
    @include p-font(14px, 1);
    margin-bottom: 27px;
  }

  &__btn {
    min-width: 140px;
    margin: 0 auto;
  }
}





/*------------------------------------*/
/*  #PORTFOLIO                        */
/*------------------------------------*/

.portfolio {

  &-block {

    text-align: center;

    &__header {
      /*верхний отступ от section, а нижний установлен здесь */
      margin-bottom: 70px;
      text-align: justify;
    }

    &__title {
      float: left;
      margin: 0 auto;
      @include h2-font;
    }

    &__link {
      float: right;
      position: relative;
      margin: 0 auto;
      padding-right: 18px;

      @include p-font(14px, 26px);
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }

      &::after {
        /* стрелочка */
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);

        display: block;
        width: 9px;
        height: 13px;

        content: "";
        background: url("https://i.lensdump.com/i/8ofDxk.png") no-repeat -183px -39px;
      }
    }
  }



  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  font-size: 0;
  line-height: 0;
  text-align: justify;
  list-style-type: none;
  overflow: hidden;


  &__item {
    display: inline-block;
    padding: 0;
    margin: 0;
    width: 16.66%;
    overflow: hidden;
  }

  &__link {
    position: relative;
    display: block;
    
    width: 100%;
    height: 100%;

    text-decoration: none;

    &::before {
      content: "";
      position: absolute;
      display: block;
      width: 100%;
      height: 100%;
      background-color: #00e0d0;
      opacity: 0;
      z-index: 2;
    }

    &:hover::before {
      opacity: 0.7;
    }
  }

  &__thumb {
    position: relative;
    width: 100%;
    height: 200px;
  }



  &__btn {
    min-width: 140px;
    margin: 70px auto 0;
  }
}





/*------------------------------------*/
/*  #FOOTER                           */
/*------------------------------------*/

.footer {
  background: #332855 url("https://i.lensdump.com/i/8oempb.jpg") no-repeat center;
  background-size: cover;


  &-information {
    margin-bottom: 70px;
  }


  &-about {
    float: left;
    display: block;
    width: 300px;
    margin-right: 20px;

    &__logo {
      display: block;
      margin-bottom: 20px;
      
    }

    &__descript {
      @include p-font(14px, 26px);
    }
  }



  &-contacts {
    float: left;
    display: block;
    width: 310px;
    margin-right: 20px;
    padding-right: 20px;
    font-style: normal;

    &__title {
      margin: 0 auto 20px;
      @include h3-font(15px, 50px);
    }

    &__descript {
      position: relative;
      margin-bottom: 12px;
      padding-left: 30px;
      @include p-font(14px, 26px);

      &::before {
        display: block;
        content: "";
        position: absolute;
        top: 3px;
        left: 0;
      }

      &.--icon-location::before { width:14px; height: 19px; background: url("https://i.lensdump.com/i/8ofDxk.png") no-repeat -10px -10px;}

      &.--icon-phone::before    { width:17px; height: 17px; background: url("https://i.lensdump.com/i/8ofDxk.png") no-repeat -10px -39px;}
    }
  }


  &-subscribe {
    float: right;
    display: block;
    width: 290px;

    &__title {
      margin: 0 auto 20px;
      @include h3-font(15px, 50px);
    }
  }

  &-form {
    font-size: 0;
    margin-bottom: 27px;

    &__input {
      display: inline-block;
      width: 210px;
      height: 45px;
      margin: 0;
      padding-left: 15px;
      margin-right: 10px;

      @include p-font(14px, 1);
      vertical-align: middle;

      color: #ffffff;
      border: 1px solid #808080;
      border: 1px solid rgba(255, 255, 255, 0.5);
      background: transparent;
    }
  

    &__btn {
      position: relative;
      display: inline-block;
      width: 70px;
      height: 45px;
      vertical-align: middle;
      background: #808080;
      background: rgba(255, 255, 255, 0.5);
      border: none;

      &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        display: block;
        width: 25px;
        height: 25px;

        background: url("https://i.lensdump.com/i/8ofDxk.png") no-repeat -157px -10px;
      }

      &:hover {
        background: #00e0d0;

        &::before {
          background: url("https://i.lensdump.com/i/8ofDxk.png") no-repeat -192px -10px;
        }
      }
    }
  }


  &-social {
    display: block;
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-size: 0;

    &__btn {
      position: relative;
      display: inline-block;
      width: 35px;
      height: 35px;

      padding: 0;
      margin: 0;
      margin-right: 10px;

      border: 1px solid #ffffff;
      border-radius: 17px;

      &:last-child {
        margin-right: 0;
      }

      & a {
        display: block;
        width: 100%;
        height: 100%;
        border-radius: 17px;

        &:hover {
          background-color: #00e0d0;
        }
      }

      & a::after {
        display: block;
        content: "";

        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 10;
      }

      &.--fb a::after { width: 8px;  height: 16px; background: url("https://i.lensdump.com/i/8ofDxk.png") no-repeat -52px -10px; }

      &.--tw a::after { width: 15px; height: 12px; background: url("https://i.lensdump.com/i/8ofDxk.png") no-repeat -109px -9px; }

      &.--dr a::after { width: 17px; height: 16px; background: url("https://i.lensdump.com/i/8ofDxk.png") no-repeat -29px -10px; }

      &.--ig a::after { width: 16px; height: 15px; background: url("https://i.lensdump.com/i/8ofDxk.png") no-repeat -89px -10px; }

      &.--gp a::after { width: 16px; height: 15px; background: url("https://i.lensdump.com/i/8ofDxk.png") no-repeat -69px -9px; }

      &.--yt a::after { width: 18px; height: 15px; background: url("https://i.lensdump.com/i/8ofDxk.png") no-repeat -129px -7px; }
    }
  }

  &__navigation {
    display: inline-block;
    vertical-align: top;
  }

  &-copyright {
    float: right;
    @include p-font(14px, 1);
  }
}





/*------------------------------------*/
/*  ~ Рефакторинг ~                   */
/*------------------------------------*/

/*====================================*/

/* Новые стили появятся здесь         */

@import "refactoring/_main.scss";