/*------------------------------------*/
/*         ~ Список услуг ~           */
/*------------------------------------*/
/*                                    */

.m-block-list {
  list-style-type: none;
  font-size: 0;

  &__item {
    display: inline-block;
    width: 33.33%;
    margin: 0;
    vertical-align: top;

    border-right: 1px solid $hairline;
    border-right: 1px solid $hairline-a;


    &:nth-child(3n) {
      border-right: none;
    }

    &:nth-child(n+4) {
      border-top: 1px solid $hairline;
      border-top: 1px solid $hairline-a;
    }
  }
}