/*------------------------------------*/
/*       ~ Контролы слайда ~          */
/*------------------------------------*/
/*                                    */

.m-bullets { 
  font-size: 0;
  line-height: 0;
  list-style-type: none;
  text-align: center;

  &__btn {
    display: inline-block;
  }
    
  &__link {
    display: block;
    width: 15px;
    height: 15px;
    padding: 2.5px;

    &::after {
      display: block;
      content: "";
      width: 10px;
      height: 10px;
      border-radius: 5px;
      border: 1px solid $white;
    }

    &:hover::after,
    &.--current::after {
      background-color: $theme-bright;
      border: 1px solid $theme-bright;
    }
  }
}