/*------------------------------------*/
/*         ~ Список услуг ~           */
/*------------------------------------*/
/*                                    */

.m-block-list {
  display: table;
  border-collapse: collapse;

  &__row {
    display: table-row;
  } 

  &__row + &__row {
    border-top: 1px solid $hairline;
    border-top: 1px solid $hairline-a;
  }

  &__item {
    display: table-cell;
    width: 33.33%;
    vertical-align: top;
    border-right: 1px solid $hairline;
    border-right: 1px solid $hairline-a;
    
    &:nth-child(3n) {
      border-right: none;
    }
  }
}