/*------------------------------------*/
/*        ~ Верхняя панель ~          */
/*------------------------------------*/
/*                                    */

.m-navbar {
  display: block;
  @extend %justify;

  &__logo {
    display: inline-block;   
    vertical-align: top;
  }

  &__nav {
    display: inline-block;   
    vertical-align: top;
  }
}

