/*------------------------------------*/
/*          ~ Навигация ~             */
/*------------------------------------*/
/*                                    */

.m-navigation {
  font-size: 0px;
  list-style-type: none;
  text-align: left;

  &__item {
    display: inline-block;
    margin: 0 10px;
    
    text-align: center;
    vertical-align: top;

    &:first-child { margin-left: 0px; }
    &:last-child { margin-right: 0px; }
  }

  &__link {
    display: inline-block;

    @include bold(13px, 50px); 
    text-decoration: none;
    vertical-align: top;
    color: $white;
    
    &.--current,
    &:hover {
      color: $theme-bright;
    }
  }

  &.--wide {
    margin-right: 22px;

    &:last-child { margin-right: 0px; }

    &__link { @include text-font(14px, 1); }
  }

}