/*------------------------------------*/
/*          ~ Slider ~                */
/*------------------------------------*/
/*                                    */

.m-slider {
  position: relative;
  color: $white;
  background: $theme-dark url("https://i.lensdump.com/i/8oesF7.jpg") no-repeat center;
  background-size: cover;
  text-align: center;

  &__slide {
    display: inline-block;
    max-width: 800px;
    margin: 0 auto;
    vertical-align: middle;
  }

  &__bullets {
    display: block;
    position: absolute;
    bottom: 70px;
    left: 50%;
    transform: translateX(-50%);
  }
}
