/*------------------------------------*/
/*           ~ Портфолио ~            */
/*------------------------------------*/
/*                                    */

.o-portfolio {
  text-align: center;

  &__header {
    @extend %wrapper;

    /*верхний отступ от section, а нижний установлен здесь */
    margin-bottom: 70px;

    @extend %justify;
  }

  &__title {
    display: inline-block;
    margin: 0 auto;
    @include header;
    vertical-align: top;
  }

  &__link {
    display: inline-block;
    position: relative;
    margin: 0 auto;
    padding-right: 18px;

    @include text-font(14px, 26px);
    text-decoration: none;
    vertical-align: top;

    &:hover {
      text-decoration: underline;
    }

    &::after {
      /* стрелочка */
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);

      display: block;
      width: 9px;
      height: 13px;

      content: "";
      background: url("https://i.lensdump.com/i/8ofDxk.png") no-repeat -183px -39px;
    }
  }

  &__btn {
    margin: 70px auto 0;
  }
}
