%wrapper {
  /* оборачивает контент в центральную колонку */
  display: block;
  max-width: 960px;
  margin: auto;
  padding: 0 10px;
  /* чтобы вёрстка не ломалась, раз она не адаптивная */
  min-width: 960px;
}


// I know it is a layout element like t-section, which now is
// at template folder. Current architecture sucks and I know it.

// I wish I went for something like Harry Robert’s namespaces 
// instead of the Atomic Design namespaces bc for small projects 
// like this it makes way more sense. Either I don't understand
// Atomic Designs “template” thing, or it just doesn't make sense
// when it is not styleguide-driven developement.