/*------------------------------------*/
/*          ~ Навигация ~             */
/*------------------------------------*/
/*                                    */

.m-navigation {
  font-size: 0px;
  list-style-type: none;
  text-align: left;

  &__item {
    display: inline-block;
    padding: 0 10px;

    text-align: center;
    vertical-align: top;

    &:first-child { padding-left: 0px; }
    &:last-child { padding-right: 0px; }
  }

  &__link {
    @include bold(13px, 16px); 
    text-decoration: none;
    color: $white;
    
    &.--current,
    &:hover {
      color: $theme-bright;
    }
  }
}