/*------------------------------------*/
/*          ~ Навигация ~             */
/*------------------------------------*/
/*                                    */

.m-navigation {
  font-size: 0px;
  list-style-type: none;
  text-align: left;

  &__item {
    display: inline-block;
    
    text-align: center;
    vertical-align: top;
  }

  &__link {
    display: inline-block;
    padding: 0 10px;

    @include bold(13px, 50px); 
    text-decoration: none;
    vertical-align: top;
    color: $white;
    
    &.--current,
    &:hover {
      color: $theme-bright;
    }

    &.--wide {
      @include text-font(14px, 1); 
      padding-right: 22px;
    }
  }

  &__item:first-child &__link { padding-left: 0px; }
  &__item:last-child &__link { padding-right: 0px; }

}