.m-section-head {
  text-align: center;

  &__title {
    margin: 0 auto 10px;

    @include header;
    color: $type-gray;
  }

  &__subtitle {
    margin: 0 auto 18px;

    @include subheader;
    color: $type-dark;
    opacity: 0.75;
  }

  &::after {
    @include header-line(2px, $type-gray);
    margin: 0 auto;
    opacity: 0.3;
  }

  &.--dark-bg {
    & .m-section-head__title,
    & .m-section-head__subtitle {
      color: $white;
    }

    &::after {
      @include header-line(2px, $white);
    }
  }
}