%justify {
  text-align: justify;
  font-size: 0px;
  line-height: 0px;
  
  &::after {
    content: '';
    display: inline-block;
    width: 100%;
    height: 0;
    visibility: hidden;
    overflow: hidden;
  }
}