$white: #ffffff;
$theme-dark: #39335f;
$theme-bright: #00e0d0;
$type-black: #333333;
$type-dark: #2f2d35;;
$type-gray: #413d4b;
$hairline: #f8fafb;
$hairline-a: rgba(0, 0, 0, 0.08);
$semiwhite: #808080;
$semiwhite-a: rgba(255, 255, 255, 0.5);